

    {% extends "layout.html" %}
{% block body %}

<h1> Reconocimiento</h1>

<ul>
    <li>Origin: {{ reconoxco.origin }}</li>
     <li>Destination: {{ reconoxco.destination}}</li>
    <li>Duration: {{ reconoxco.duration }}</li>
    
</ul>

<h2>Passengers</h2>

<ul>

{% for passenger in passengers %}
    
    <li> {{ passenger }} </li>
    {% empty %}
    <li> No passengers </li>
    {% endfor %}

</ul>

<h2> Add Passenger <h2>

<form action="{% url 'book' reconoxco.id %}" method ="post">
    {% csrf_token %}

    <select name = "passenger">
        
       {% for passenger in non_passengers %}
        <option value= "{{ passenger.id }}">{{ passenger }}</option>
       {% endfor %}
        
    </select>
    
        <input type="submit">
    
    </form>
    

<a href="{% url 'index5' %}"> Volver al Inicio</a>
{% endblock %}

